In [1]:
# Dependencies
import pandas as pd

In [2]:
# Load CSV file as dataframe
nutr_df = pd.read_csv("Resources/Nutrition__Physical_Activity__and_Obesity_-_Women__Infant__and_Child.csv")
nutr_df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2008,2008,AL,Alabama,"Women, Infants, and Children Participant and P...",Obesity / Weight Status,Obesity / Weight Status,Percent of WIC children aged 2 to 4 years who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q040,VALUE,1,Total,Total,OVR,OVERALL
1,2008,2008,AL,Alabama,"Women, Infants, and Children Participant and P...",Obesity / Weight Status,Obesity / Weight Status,Percent of WIC children aged 2 to 4 years who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q040,VALUE,1,Gender,Male,GEN,MALE
2,2008,2008,AL,Alabama,"Women, Infants, and Children Participant and P...",Obesity / Weight Status,Obesity / Weight Status,Percent of WIC children aged 2 to 4 years who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q040,VALUE,1,Gender,Female,GEN,FEMALE
3,2008,2008,AL,Alabama,"Women, Infants, and Children Participant and P...",Obesity / Weight Status,Obesity / Weight Status,Percent of WIC children aged 2 to 4 years who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q040,VALUE,1,Age (months),24 - 35,AGEMO,AGEMO2435
4,2008,2008,AL,Alabama,"Women, Infants, and Children Participant and P...",Obesity / Weight Status,Obesity / Weight Status,Percent of WIC children aged 2 to 4 years who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q040,VALUE,1,Age (months),36 - 47,AGEMO,AGEMO3647

In [5]:
# Get the relevant columns
nutr_df2 = nutr_df[["YearEnd", "LocationAbbr", "LocationDesc"]]
nutr_df2.head()

   YearEnd LocationAbbr LocationDesc
0     2008           AL      Alabama
1     2008           AL      Alabama
2     2008           AL      Alabama
3     2008           AL      Alabama
4     2008           AL      Alabama