In [1]:
# Dependencies
import pandas as pd

In [2]:
# Load CSV file as dataframe
diseasedata = pd.read_csv("Resources/U.S._Chronic_Disease_Indicators__CDI_.csv")

/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7,10,18,19,20,21,23,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Preview the chronic diseases data
diseasedata.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2016,2016,US,United States,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,59,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2016,2016,AL,Alabama,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,1,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2016,2016,AK,Alaska,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,2,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2016,2016,AZ,Arizona,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,4,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2016,2016,AR,Arkansas,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,5,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN

In [4]:
# Choose the relevant columns
chronic_df = diseasedata[["YearEnd", "LocationDesc", "Topic", "Question", 
                          "DataValueUnit", "DataValueType", "DataValue", 
                          "Stratification1"]]

In [5]:
# Preview the revised dataframe
chronic_df.head()

,YearEnd,LocationDesc,Topic,Question,DataValueUnit,DataValueType,DataValue,Stratification1
0,2016,United States,Alcohol,Binge drinking prevalence among adults aged >=...,%,Crude Prevalence,16.9,Overall
1,2016,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,Crude Prevalence,13,Overall
2,2016,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,Crude Prevalence,18.2,Overall
3,2016,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,Crude Prevalence,15.6,Overall
4,2016,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,Crude Prevalence,15,Overall

In [6]:
# Select data for 2010, 2012, and 2014
Years = [2010, 2012, 2014]
chronic_df2 = chronic_df[chronic_df["YearEnd"].isin(Years)]
chronic_df2.head()

,YearEnd,LocationDesc,Topic,Question,DataValueUnit,DataValueType,DataValue,Stratification1
116756,2014,Kentucky,Chronic Kidney Disease,Incidence of treated end-stage renal disease,"cases per 1,000,000",Number,1749,Overall
117030,2014,Louisiana,Chronic Kidney Disease,Incidence of treated end-stage renal disease,"cases per 1,000,000",Number,2294,Overall
117178,2014,Texas,Chronic Kidney Disease,Incidence of treated end-stage renal disease,"cases per 1,000,000",Number,10548,Overall
117329,2014,United States,Chronic Kidney Disease,Incidence of treated end-stage renal disease,"cases per 1,000,000",Number,118014,Overall
117537,2014,Utah,Chronic Kidney Disease,Incidence of treated end-stage renal disease,"cases per 1,000,000",Number,525,Overall

In [7]:
# Choose data for diabetes
chronic_df3 = chronic_df2[chronic_df2["Topic"] == "Diabetes"]
chronic_df3.head()

,YearEnd,LocationDesc,Topic,Question,DataValueUnit,DataValueType,DataValue,Stratification1
122531,2014,United States,Diabetes,Diabetes prevalence among women aged 18-44 years,%,Crude Prevalence,5.7,Overall
160122,2012,Alabama,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Age-adjusted Prevalence,10.5,Hispanic
160139,2012,Iowa,Diabetes,Diabetes prevalence among women aged 18-44 years,%,Crude Prevalence,6.7,Overall
160206,2012,Alabama,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Age-adjusted Prevalence,11.9,Male
160309,2012,Delaware,Diabetes,Adults with diagnosed diabetes aged >= 18 year...,%,Age-adjusted Prevalence,63.9,Female

In [8]:
# Remove data for the US (we need state-wise data)
chronic_df4 = chronic_df3[chronic_df3["LocationDesc"]!="United States"]
chronic_df4.head()

,YearEnd,LocationDesc,Topic,Question,DataValueUnit,DataValueType,DataValue,Stratification1
160122,2012,Alabama,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Age-adjusted Prevalence,10.5,Hispanic
160139,2012,Iowa,Diabetes,Diabetes prevalence among women aged 18-44 years,%,Crude Prevalence,6.7,Overall
160206,2012,Alabama,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Age-adjusted Prevalence,11.9,Male
160309,2012,Delaware,Diabetes,Adults with diagnosed diabetes aged >= 18 year...,%,Age-adjusted Prevalence,63.9,Female
160599,2012,Pennsylvania,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Age-adjusted Prevalence,12.5,Hispanic

In [9]:
# Choose the data based on the following criteria:
# Crude Prevalence as the DataValueType
# Overall as the Stratification
chronic_df5 = chronic_df4.query("DataValueType == 'Crude Prevalence' & \
                                 Stratification1 == 'Overall'")
chronic_df5.head()

,YearEnd,LocationDesc,Topic,Question,DataValueUnit,DataValueType,DataValue,Stratification1
160139,2012,Iowa,Diabetes,Diabetes prevalence among women aged 18-44 years,%,Crude Prevalence,6.7,Overall
161003,2012,Guam,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Crude Prevalence,9.6,Overall
161379,2012,Alaska,Diabetes,Adults with diagnosed diabetes aged >= 18 year...,%,Crude Prevalence,71.1,Overall
161388,2012,Alabama,Diabetes,Adults with diagnosed diabetes aged >= 18 year...,%,Crude Prevalence,53.7,Overall
161396,2012,Arkansas,Diabetes,Adults with diagnosed diabetes aged >= 18 year...,%,Crude Prevalence,51.1,Overall

In [10]:
# Choose data with Question as "Prevalence of diagnosed diabetes among adults aged >= 18 years"
chronic_df6 = chronic_df5[chronic_df5["Question"] == "Prevalence of diagnosed diabetes \
among adults aged >= 18 years"]

chronic_df6.head()

,YearEnd,LocationDesc,Topic,Question,DataValueUnit,DataValueType,DataValue,Stratification1
161003,2012,Guam,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Crude Prevalence,9.6,Overall
166619,2012,Alaska,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Crude Prevalence,7,Overall
166627,2012,Alabama,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Crude Prevalence,12.2,Overall
166635,2012,Arkansas,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Crude Prevalence,11.3,Overall
166643,2012,Arizona,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Crude Prevalence,10.6,Overall

In [11]:
# Rename columns for clarity
chronic_df6 = chronic_df6.rename(columns = {"YearEnd": "Year",
                                            "LocationDesc": "US_State",
                                            "DataValue": "Adult_Diabetics_%"})
chronic_df6.head()

,Year,US_State,Topic,Question,DataValueUnit,DataValueType,Adult_Diabetics_%,Stratification1
161003,2012,Guam,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Crude Prevalence,9.6,Overall
166619,2012,Alaska,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Crude Prevalence,7,Overall
166627,2012,Alabama,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Crude Prevalence,12.2,Overall
166635,2012,Arkansas,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Crude Prevalence,11.3,Overall
166643,2012,Arizona,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Crude Prevalence,10.6,Overall

In [12]:
# Remove more columns after renaming columns
chronic_df7 = chronic_df6[["Year", "US_State", "Adult_Diabetics_%"]]
chronic_df7

        Year              US_State Adult_Diabetics_%
161003  2012                  Guam               9.6
166619  2012                Alaska                 7
166627  2012               Alabama              12.2
166635  2012              Arkansas              11.3
166643  2012               Arizona              10.6
166651  2012            California               9.8
166659  2012              Colorado               7.4
166667  2012           Connecticut               9.1
166675  2012  District of Columbia               8.2
166683  2012              Delaware               9.6
166691  2012               Florida              11.4
166699  2012               Georgia               9.9
166714  2012                Hawaii               7.8
166722  2012                  Iowa               9.7
166731  2012                 Idaho               8.5
166739  2012              Illinois               9.4
166747  2012               Indiana              10.9
166755  2012                Kansas               9.4
166763  2012              Kentucky              10.7
166771  2012             Louisiana              12.3
166779  2012         Massachusetts               8.3
166787  2012              Maryland              10.2
166795  2012                 Maine               9.7
166803  2012              Michigan              10.5
166811  2012             Minnesota               7.3
166819  2012              Missouri              10.7
166827  2012           Mississippi              12.5
166835  2012               Montana               7.2
166843  2012        North Carolina              10.4
166851  2012          North Dakota               8.6
...      ...                   ...               ...
301017  2014             Minnesota               8.1
301025  2014              Missouri              11.1
301033  2014           Mississippi                13
301041  2014               Montana               8.8
301049  2014        North Carolina              10.8
301057  2014          North Dakota               8.6
301065  2014              Nebraska               9.2
301073  2014         New Hampshire               9.1
301081  2014            New Jersey               9.7
301089  2014            New Mexico              11.5
301097  2014                Nevada               9.6
301105  2014              New York                10
301113  2014                  Ohio              11.7
301121  2014              Oklahoma                12
301129  2014                Oregon                 9
301137  2014          Pennsylvania              11.2
301145  2014           Puerto Rico              15.7
301153  2014          Rhode Island               9.4
301161  2014        South Carolina                12
301169  2014          South Dakota               9.1
301177  2014             Tennessee                13
301185  2014                 Texas                11
301196  2014                  Utah               7.1
301204  2014              Virginia               9.7
301212  2014        Virgin Islands               NaN
301220  2014               Vermont               7.9
301228  2014            Washington               8.9
301236  2014             Wisconsin                 9
301244  2014         West Virginia              14.1
301252  2014               Wyoming               8.4

[108 rows x 3 columns]