In [1]:
# Dependencies
import pandas as pd

In [2]:
# Load CSV file as dataframe
diseasedata = pd.read_csv("Resources/U.S._Chronic_Disease_Indicators__CDI_.csv")

/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7,10,18,19,20,21,23,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Preview the chronic diseases data
diseasedata.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2016,2016,US,United States,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,59,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2016,2016,AL,Alabama,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,1,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2016,2016,AK,Alaska,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,2,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2016,2016,AZ,Arizona,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,4,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2016,2016,AR,Arkansas,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,5,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN

In [4]:
# Choose the relevant columns
clean_df = diseasedata[["YearEnd", "LocationAbbr", "LocationDesc", "Topic", "Question", "DataValueUnit", "DataValueType", "DataValue", "StratificationCategory1", "Stratification1"]]

In [5]:
# Preview the revised dataframe
clean_df.head()

,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValueType,DataValue,StratificationCategory1,Stratification1
0,2016,US,United States,Alcohol,Binge drinking prevalence among adults aged >=...,%,Crude Prevalence,16.9,Overall,Overall
1,2016,AL,Alabama,Alcohol,Binge drinking prevalence among adults aged >=...,%,Crude Prevalence,13,Overall,Overall
2,2016,AK,Alaska,Alcohol,Binge drinking prevalence among adults aged >=...,%,Crude Prevalence,18.2,Overall,Overall
3,2016,AZ,Arizona,Alcohol,Binge drinking prevalence among adults aged >=...,%,Crude Prevalence,15.6,Overall,Overall
4,2016,AR,Arkansas,Alcohol,Binge drinking prevalence among adults aged >=...,%,Crude Prevalence,15,Overall,Overall

In [6]:
# Select data for 2010, 2012, and 2014
Years = [2010, 2012, 2014]
clean_df2=clean_df[clean_df["YearEnd"].isin(Years)]
clean_df2.head()

,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValueType,DataValue,StratificationCategory1,Stratification1
116756,2014,KY,Kentucky,Chronic Kidney Disease,Incidence of treated end-stage renal disease,"cases per 1,000,000",Number,1749,Overall,Overall
117030,2014,LA,Louisiana,Chronic Kidney Disease,Incidence of treated end-stage renal disease,"cases per 1,000,000",Number,2294,Overall,Overall
117178,2014,TX,Texas,Chronic Kidney Disease,Incidence of treated end-stage renal disease,"cases per 1,000,000",Number,10548,Overall,Overall
117329,2014,US,United States,Chronic Kidney Disease,Incidence of treated end-stage renal disease,"cases per 1,000,000",Number,118014,Overall,Overall
117537,2014,UT,Utah,Chronic Kidney Disease,Incidence of treated end-stage renal disease,"cases per 1,000,000",Number,525,Overall,Overall

In [7]:
# Choose data for diabetes
clean_df2=clean_df2[clean_df2["Topic"]=="Diabetes"]
clean_df2.head()

,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValueType,DataValue,StratificationCategory1,Stratification1
122531,2014,US,United States,Diabetes,Diabetes prevalence among women aged 18-44 years,%,Crude Prevalence,5.7,Overall,Overall
160122,2012,AL,Alabama,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Age-adjusted Prevalence,10.5,Race/Ethnicity,Hispanic
160139,2012,IA,Iowa,Diabetes,Diabetes prevalence among women aged 18-44 years,%,Crude Prevalence,6.7,Overall,Overall
160206,2012,AL,Alabama,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Age-adjusted Prevalence,11.9,Gender,Male
160309,2012,DE,Delaware,Diabetes,Adults with diagnosed diabetes aged >= 18 year...,%,Age-adjusted Prevalence,63.9,Gender,Female

In [8]:
# Remove data for the US (we need state-wise data)
clean_df2=clean_df2[clean_df2["LocationAbbr"]!="US"]
clean_df2.head()

,YearEnd,LocationAbbr,LocationDesc,Topic,Question,DataValueUnit,DataValueType,DataValue,StratificationCategory1,Stratification1
160122,2012,AL,Alabama,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Age-adjusted Prevalence,10.5,Race/Ethnicity,Hispanic
160139,2012,IA,Iowa,Diabetes,Diabetes prevalence among women aged 18-44 years,%,Crude Prevalence,6.7,Overall,Overall
160206,2012,AL,Alabama,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Age-adjusted Prevalence,11.9,Gender,Male
160309,2012,DE,Delaware,Diabetes,Adults with diagnosed diabetes aged >= 18 year...,%,Age-adjusted Prevalence,63.9,Gender,Female
160599,2012,PA,Pennsylvania,Diabetes,Prevalence of diagnosed diabetes among adults ...,%,Age-adjusted Prevalence,12.5,Race/Ethnicity,Hispanic